# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Virtual Environments
# ========================
.venv/
venv/
env/

# ========================
# Environment variables
# ========================
.env

# ========================
# Data & Models
# ========================
data/raw/
data/processed/
models/*
!models/*.joblib
!models/metadata.json

# ========================
# Test & Coverage
# ========================
.pytest_cache/
.coverage
htmlcov/

# ========================
# IDEs & Editors
# ========================
.vscode/
.idea/

# ========================
# OS-specific
# ========================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# ========================
# Logs
# ========================
*.log
